[submodule "libs/chikawa-helper"]
	path = libs/chikawa-helper
	url = https://github.com/TranHoangVu25/chikawa_chat_helper
[submodule "promotion-service"]
	path = promotion-service
	url = https://github.com/TranHoangVu25/chikawa-promotion-service
[submodule "chikawa-user-service"]
	path = chikawa-user-service
	url = https://github.com/TranHoangVu25/chikawa-user-service.git
[submodule "chikawa-cart-service"]
	path = chikawa-cart-service
	url = https://github.com/TranHoangVu25/chikawa-cart-service.git
