[submodule "user_service"]
	path = user_service
	url = https://github.com/anhtrung123A/chiikawa-user-service

[submodule "product_service"]
	path = product_service
	url = https://github.com/anhtrung123A/chiikawa-product-service
[submodule "search_service"]
	path = search_service
	url = https://github.com/anhtrung123A/chiikawa-search-service
[submodule "promotion_service"]
	path = promotion_service
	url = https://github.com/anhtrung123A/chiikawa-promotion-service
[submodule "payment_service"]
	path = payment_service
	url = https://github.com/anhtrung123A/chiikawa-payment-service
[submodule "cart_service"]
	path = cart_service
	url = https://github.com/anhtrung123A/chiikawa-cart-service
