[submodule "libs/chikawa-helper"]
	path = libs/chikawa-helper
	url = https://github.com/TranHoangVu25/chikawa_chat_helper
[submodule "promotion-service"]
	path = promotion-service
	url = https://github.com/TranHoangVu25/chikawa-promotion-service
[submodule "chikawa-user-service"]
	path = chikawa-user-service
	url = https://github.com/TranHoangVu25/chikawa-user-service.git
[submodule "chikawa-cart-service"]
	path = chikawa-cart-service
	url = https://github.com/TranHoangVu25/chikawa-cart-service.git
[submodule "chikawa-search-service"]
	path = chikawa-search-service
	url = https://github.com/TranHoangVu25/chikawa-search-service.git
[submodule "chikawa_product_service"]
	path = chikawa_product_service
	url = https://github.com/TranHoangVu25/chikawa_product_service.git
[submodule "chikawa_chat_helper"]
	path = chikawa_chat_helper
	url = https://github.com/TranHoangVu25/chikawa_chat_helper.git
[submodule "chikawa-chatbot-manage-service"]
	path = chikawa-chatbot-manage-service
	url = https://github.com/TranHoangVu25/chikawa-chatbot-manage-service.git
